body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    width: 100%;
    text-align: center;
    font-weight: bolder;
}

main {
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 0;
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
    height: 200px;
    width: 200px;
}

.card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

